.container {
    width: 100%;
    max-width: 1320px;
    font-size: 14px;
    font-family: Tahoma,Arial,Helvetica,sans-serif;
    background-color: #f9f9f9;
}
section {
    width: 100%;
    padding-bottom: 20px;
}
section p {
    margin-bottom: 0;
    margin-top: 0;
    line-height: 22px;
    margin-bottom: 20px;
}
section h3::before {
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 12px;
    width: 3px;
    content:"";
    border-radius: 3px;
    background-color: #ffffff;
}
section h3 {
    position: relative;
    padding: 11px 36px 11px 27px;
    font-size: 1.07692308em;
    border-radius: 3px;
    background-color: darkgray;
    color: #ffffff;
    cursor: pointer;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.section-box {
    width: 30%;
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
}
.section-box div {
    width: 100%;
}
.section-box div:nth-child(odd) {
    margin-bottom: 10px;
}
.section-box div.calc-box {
    height: 100px;
    text-align: center;
}
.section-box div.calc-box p {
    margin-bottom: 0px;
}
.section-box > div:nth-of-type(2) {
    margin-bottom: 20px;
}
.section-box > div.calc-box:nth-of-type(2) {
    margin-bottom: 0px;
}
.calc-box p:last-of-type {
    font-weight: 700;
    font-size: large;
}
input {
    padding: 5px;
    border-radius: 10px;
    border:0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    margin-left: 10px;
    height: 20px;
}
section.results .section-box {
    width: 50%;
    float: left;
    box-sizing: border-box;
}
section.results .section-box h5 {
    font-size: 15px;
}
section.results .section-box div span {
    float: right;
}
section.results .section-box div p.section-total {
    font-size: small;
}
.calc-results-bar {
    width: 100%;
    padding-left: 0;
    box-sizing: border-box;
    display: table;
    position: relative;
}
.calc-results-bar .bar-row {
    display: table-row;
}
.calc-results-bar .bar-row div {
    height: 30px;
    display: table-cell;
}
.yellow {
   background-color: yellow; 
}
.orange {
    background-color: orange; 
 }
 .green {
    background-color: green; 
 }
 .red {
    background-color: red; 
 }
 .calc-results-bar .bar-row div.line-wrapper {
    position: relative;
 }
 .calc-results-bar .bar-row div.line-wrapper .line-container {
    display: unset;
 }
.calc-results-bar .bar-row div.line {
    position: absolute;
    width: 1px;
    left: 50%;
}
.calc-results-bar::after, .boxes::after {
    content: '';
    clear: both;
    display: table;
}
.results {
    display: none;
}
.bar-row p {
    margin-top: 30px;
    text-align: center;
}
.bar-row p span {
    font-weight: 700;
}
.no-disp {
    display: unset !important;
}
.hide {
    display: none;
}
.show {
    display: block;
}
.result-text {
    margin-top: 20px;
}
.border-green {
    border-left: 4px solid green;
}
.border-red {
    border-left: 4px solid red;
}
.result-text p {
    margin-top: -32px;
    margin-left: 3px;
}
.btn-container {
    width: 100%;
    height: 60px;
}
.btn-container button {
    font-size: 13px;
    background-color:darkgrey;
    margin-top: 30px;
    border: 0;
    color: white;
    border-radius: 2px;
    height: 35px;
    cursor: default;
    display: block;
    margin: 0 auto;
}
@media all and (max-width: 820px) {
    input {
        margin-left: 5px;
        width: 80%;
    }
}
@media all and (max-width: 710px) {
    .section-box {
        float: none;
        width: 100%;
        margin-top: 20px;
    }
    .section-box div {
        width: 100%;
    }
    .section-box:last-of-type {
        padding-top: 20px;
    }
    input {
        width: 90%;
    }
    .section-box div.calc-box {
        height: 30px;
    }
    section.results .section-box {
        width: 100%;
        float: none;
    }
}